<!DOCTYPE html>
<html lang="en">
  <% include ./partials/layout %>
  <body>
    <div class="row mt-5">
      <div class="col-md-3 m-auto">
        <div class="card card-body text-center">
          <div>
            <img
              src="images/404.jpeg"
              alt="Page Not Found"
              width="300"
              height="300"
            />
            <a href="/login" class="btn btn-primary btn-block mt-3"> Login </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
