<!DOCTYPE html>
<html lang="en">
  <% include ./partials/layout %>
  <body>
    <div class="row mt-5">
      <div class="col-md-3 m-auto">
        <div class="card card-body text-center">
          <div>
            <img
              src="images/Garage Opener-logos_black.png"
              alt="Garage Opener"
              width="300"
              height="300"
            />
            <% if(error_msg != ''){ %>
            <div
              class="alert alert-danger alert-dismissible fade show"
              role="alert"
            >
              <%= error_msg %>
              <button
                type="button"
                class="close"
                data-dismiss="alert"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <% } %>
            <form action="/login" method="POST">
              <div class="form-group">
                <input
                  type="password"
                  id="password"
                  name="password"
                  class="form-control"
                  placeholder="Enter Password"
                />
              </div>
              <button type="submit" class="btn btn-primary btn-block">
                Login
              </button>
            </form>

            <a class="footer" href="mailto:gagabon@safenode.co.nz"
              >&copy 2021 Nodesafe Ltd | gagabon@safenode.co.nz</a
            >
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
