<!DOCTYPE html>
<html lang="en">
  <% include ./partials/layout %>
  <body onload="JavaScript:checkStatus();">
    <div class="row mt-5">
      <div class="col-md-3 m-auto">
        <div
          id="bgclass"
          class="card card-body text-center door_opening_closing text-white"
        >
          <h1><i class="fab fa-node-js fa-3x text-white"></i></h1>
          <p class="text-white">Operate Garage</p>
          <h4 id="door_status">Welcome</h4>
          <div class="row mt-5">
            <div class="card card-body">
              <a
                id="btnlabel"
                href="/operate"
                type="button"
                class="btn btn-outline-primary mb-2"
              >
                Operate
              </a>
              <a
                id="btnlabel"
                href="/checkStatus"
                type="button"
                class="btn btn-outline-info"
              >
                Status
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      const interval = 1000;

      setInterval(checkStatus, interval);

      function checkStatus() {
        const xhr = new XMLHttpRequest();
        xhr.open("GET", "/status", true);
        xhr.onload = () => {
          if (this.status == 200) {
            const doorStatus = JSON.parse(this.responseText);
            console.log(doorStatus);
            document.getElementById("door_status").innerHTML =
              doorStatus.status;
            document.getElementById("bgclass").className = doorStatus.bgclass;
          } else if ((this.status = 404)) {
            document.getElementById("door_status").innerHTML = "Not Found";
          }
        };

        xhr.onerror = () => console.log("Request Error...");

        xhr.send();
      }
    </script>
  </body>
</html>
